/* Reusable UI elements */

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  border-bottom: 1px solid #222;
}

.brand a {
  color: white;
}

.brand span {
  font-size: 12px;
  color: #888;
}

nav a {
  margin-left: 28px;
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}

.nav-cta {
  border: 1px solid #444;
  padding: 6px 14px;
}

/* Buttons */
.actions {
  margin-top: 30px;
}

.btn {
  background: #ffffff;
  color: #121212;
  padding: 10px 20px;
  text-decoration: none;
  margin-right: 12px;
  font-size: 14px;
}

.btn-muted {
  border: 1px solid #444;
  padding: 10px 20px;
  text-decoration: none;
  color: #ddd;
  font-size: 14px;
}

.brand a {
  text-decoration: none;
}

.product-features {
  display: flex;
  justify-content:space-around;
}

.product-feature {
  width: 120px;
  height: 80px;
  border-radius: 10px;
  text-align: left;
  padding: 2px 10px;
  background-color: #444;
}

.product-feature .feature-title {
  font-size: small;
  color:#999;
}
