<header class="nav">
  <div class="brand">
    <a href="/">3-Shirts<br><span>Buy 2 Get the Third Free</span><br>
      <span>Always, without exception</span></a>
  </div>

  <nav>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/products" class="nav-cta">All Products</a>
  </nav>
</header>