<header class="nav">
  <div class="brand">
    <a href = "/" id = "logo">3-Shirts</a><br>
    <a href="/" id = "logo"><span>Buy 2 get the Third Free</span></a> <br>
    <a href="/" id = "logo"><span>Always, without exception</span></a>
  </div>

  <nav>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/products" class="nav-cta">All Products</a>
  </nav>
</header>